.page {
  font-family: "Inter", sans-serif;
  color: #686B73;
  font-size: 12px;
  font-weight: 600;
}

.table {
  border-collapse: collapse;
}

.table th {
  padding: 13px 17px;
  text-align: center;
  border: 1px solid #DDE0E5;
}

.table td {
  padding: 20px 24px;
  text-align: center;
  border: 1px solid #DDE0E5;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  color: #25262B;
  margin: 32px 0 12px;
}

.cellVariant {
  color: #25262B;
  font-size: 13px;
}

.cellSize {
  color: #686B73;
  font-weight: 400;
  font-size: 13px;
}
